# Exercice 1

1. Créer un tableau T de valeurs choisies aléatoirement entre 1 et 1000.
2. Écrire une fonction de recherche de la valeur minimum de ce tableau (non trié) en appliquant l'algorithme donné dans le cours.
    
    $m \longleftarrow T[0]$     
    Pour i allant de 1 à longueur(T):
        Si T[i]<m alors m=T[i]      
    Fin pour

3. Écrire une fonction de recherche du maximum d'un tableau non trié.
4. Existe-t-il des fonctions python effectuant ces recherches ?
5. Écrire un algorithme qui renvoie le minimum et le maximum d'un tableau de nombres. Transformer cet algorithme en langage python.
6. Soit T un tableau non trié de 10 valeurs.    
a) Combien de comparaisons peut-on prévoir au maximum pour trouver le minimum ?     
b) Qu'en est-il pour un tableau de 15 valeurs ?     
c) Généraliser avec un tableau de n valeurs.

In [3]:
import random as r

def creer_tab_alea(n):
    """Crée un tableau de dimension n dont les valeurs sont des entiers choisis aléatoirement entre 1 et 1000"""
    return [r.randint(1,1000) for i in range(n)]
    
t=creer_tab_alea(10)
print(t)

[134, 99, 299, 990, 385, 73, 640, 309, 520, 355]

In [11]:
help(creer_tab_alea)

Help on function creer_tab_alea in module __main__:

creer_tab_alea(n)
    Crée un tableau de dimension n dont les valeurs sont des entiers choisis aléatoirement entre 1 et 1000

In [4]:
def valeur_min(t):
    """Recherche de la valeur minimale d'un tableau de nombres"""
    # la première valeur du tableau est la plus petite (au début!)
    m=t[0]
    # on parcourt le tableau en comparant chaque valeur à m
    for i in range(len(t)):
        # si la valeur du tableau est inférieure alors elle devient le minimum
        if t[i]<m:
            m=t[i]
    # on sort de la boucle après comparaison de toutes les valeurs du tableau et on renvoie la valeur minimale m
    return m

valeur_min(t)

73

#### Algorithme de recherche de la valeur maximale d'un tableau :

    M <- T[0]        
    Pour i allant de 1 à longueur(T):
        Si T[i]>M alors M=T[i]      
    Fin pour

In [13]:
def valeur_max(t):
    """Recherche de la valeur minimale d'un tableau de nombres"""
    # la première valeur du tableau est la plus grande (au début!)
    M=t[0]
    # on parcourt le tableau en comparant chaque valeur à M
    for i in range(len(t)):
        # si la valeur du tableau est supérieure alors elle devient le maximum
        if t[i]>M:
            M=t[i]
    # on sort de la boucle après comparaison de toutes les valeurs du tableau et on renvoie la valeur maximale m
    return M

valeur_max(t)

888

#### Nombre de comparaisons

a) Si le tableau contient 3 valeurs :    
Soit T=[23,12,9] 
- m = 23
- 12<m donc m=12
- 9<m donc m=9
On fait 2 comparaisons!

b) Si le tableau contient 5 valeurs, on va réaliser 4 comparaisons.

c) Si le tableau contient $n$ valeurs, on va réaliser $n-1$ comparaisons.

On dit que notre algorithme de recherche d'un minimum ou maximum est **complexité** $n-1$. La complexité d'un algorithme permet de mesurer son **efficacité**. Dans le cas présent, la complexité est proportionnelle à la dimension $n$ du tableau, elle est dite **linéaire** et se note $O(n)$

# Exercice 2

Les fonctions de tri de python sont très efficaces. Il en existe 2 pour les tableaux de valeurs : sort() et sorted().

- la première, sort(), est une méthode qui s'applique directement sur le tableau
- la seconde, sorted(), est une fonction qui renvoie un tableau trié que l'on peut affecter à une variable.

In [16]:
A=creer_tab_alea(10)
print(A)

[774, 625, 340, 386, 67, 540, 510, 129, 851, 548]

In [17]:
A.sort()
print(A)

[67, 129, 340, 386, 510, 540, 548, 625, 774, 851]

In [18]:
B=creer_tab_alea(10)
print(B)

[41, 704, 346, 742, 205, 971, 597, 1, 698, 789]

In [19]:
C=sorted(B)
print(B)
print(C)

[41, 704, 346, 742, 205, 971, 597, 1, 698, 789]
[1, 41, 205, 346, 597, 698, 704, 742, 789, 971]

# Exercice 3

### Le tri par sélection

1. Créer un tableau T de valeurs choisies aléatoirement entre 1 et 1000.
2. Écrire en python l'algorithme de tri par sélection. Appliquez-le à votre tableau T et vérifiez qu'il est bien trié.
    
    $i \longleftarrow 1$    
    tant que $i < \text{longueur(t)}$:   //boucle 1    
    $j \longleftarrow i$    
        $\text{min} \longleftarrow i$    
        tant que $j <= \text{longueur(t)}$:   //boucle 2    
            si $t[j] < t[min]$:
                $\text{min} \longleftarrow j$    
            fin si
            $j \longleftarrow j+1$
        fin tant que
        si $min \neq i$ :
            échanger t[i] et t[min]
        fin si
        $i \longleftarrow i+1$
    fin tant que

3. a) Combien de comparaisons sont nécessaires pour trier un tableau de $3$ valeurs ?      
b) Combien de comparaisons sont nécessaires pour trier un tableau de $5$ valeurs ?       
c) Combien de comparaisons sont nécessaires pour trier un tableau de $n$ valeurs ?

In [20]:
def tri_par_selection(t):
    i=0
    while i<len(t):
        j=i
        min=i
        while j<len(t):
            if t[j]<t[min]:
                min=j
            j=j+1
        if min != i:
            t[i],t[min]=t[min],t[i]
            print(t)
        i=i+1
    return t

In [25]:
t=creer_tab_alea(6)
print(t)
tri_par_selection(t)

[434, 756, 115, 329, 249, 347]
[115, 756, 434, 329, 249, 347]
[115, 249, 434, 329, 756, 347]
[115, 249, 329, 434, 756, 347]
[115, 249, 329, 347, 756, 434]
[115, 249, 329, 347, 434, 756]

[115, 249, 329, 347, 434, 756]

3.a) Pour un tableau de 3 valeurs, il faut 3 comparaisons : t=[3,5,1]       
-> on compare 3 avec 5 puis 1 => 2 comparaisons et t=[1,5,3]         
-> on compare 5 avec 3 => 1 comparaison et t = [1,3,5]
Au total, on a 2+1=3 comparaisons

3.b) Pour un tableau de 5 valeurs, il faut 10 comparaisons : t=[3,5,1,4,7]       
-> on compare 3 avec 5,1,4 et 7 => 4 comparaisons et t=[1,5,3,4,7]         
-> on compare 5 avec 3,4,7 => 3 comparaisons et t = [1,3,5,4,7]         
-> on compare 5 avec 4 et 7 => 2 comparaisons et t= [1,3,4,5,7]           
-> on compare 5 avec 7 => 1 comparaison et t=[1,3,4,5,7]
Au total, on a 4+3+2+1=10 comparaisons

3.c) Pour un tableau à n valeurs, il faut n*(n-1)/2 comparaisons      
-> La première valeur est comparée avec les n-1 restantes => n-1 comparaisons,        
-> La seconde valeur est comparée avec les n-2 restantes => n-2 comparaisons,          
-> ....            
-> L'antépénultième valeur est comparée avec les 2 dernières => 2 comparaisons,         
-> La pénultième valeur est comparée avec la dernière valeur => 1 comparaison,           
-> La dernière n'est pas comparée (on sort de la boucle)        

Au total on a : (n-1)+(n-2)+...+2+1=n(n-1)/2 comparaisons

Après développement, on a $O(n)=\dfrac{n^2}{2}-\dfrac{n}{2}$ comparaisons qui est de l'ordre de $n^2$.
La complexité de cet algorithme est dite **quadratique**

# Exercice 4

1. Créer un tableau T de valeurs choisies aléatoirement entre 1 et 1000.
2. Écrire en python l'algorithme de tri par insertion. Appliquez-le à votre tableau T et vérifiez qu'il est bien trié.


    $j \longleftarrow 2$\\
    tant que $j <= \text{longueur}(t)$:   //boucle 1
        $i \longleftarrow j-1$
        $k \longleftarrow t[j]$
        tant que $i>0$ et que $t[i]>k$:   //boucle 2
            $t[i+1] \longleftarrow t[i]$
            $i \longleftarrow i-1$
        fin tant que
        $t[i+1] \longleftarrow k$
        $j \longleftarrow j+1$\\
    fin tant que

3.a) Combien de comparaisons sont nécessaires pour trier un tableau de $3$ valeurs ?        
b) Combien de comparaisons sont nécessaires pour trier un tableau de $5$ valeurs ?       
c) Combien de comparaisons sont nécessaires pour trier un tableau de $n$ valeurs ?

In [8]:
def tri_par_insertion(t):
    j=1
    d=0
    while j<len(t):
        i=j-1
        k=t[j]
        #print(k)
        while i>=0 and t[i]>k:
            t[i+1]=t[i]
            d+=1
            t[i]=k # juste pour visualiser l'insertion
            print(t)
            i=i-1
        t[i+1]=k
        j=j+1
    print("Nb décalages=",d)
    #return t

In [ ]:
def tri_par_insertion(t):
    j=1
    while j<len(t):
        i=j-1
        k=t[j]
        while i>=0 and t[i]>k:
            t[i+1]=t[i]
            i=i-1
        t[i+1]=k
        j=j+1
    return t

In [9]:
t=creer_tab_alea(10)
#t=creer_tab_alea(1000)
#t=[6,5,4,3,2,1]
#t=[1000-i for i in range(1000)]
print(t)
tri_par_insertion(t)
print(t)

[582, 786, 860, 300, 829, 285, 420, 280, 104, 777]
[582, 786, 300, 860, 829, 285, 420, 280, 104, 777]
[582, 300, 786, 860, 829, 285, 420, 280, 104, 777]
[300, 582, 786, 860, 829, 285, 420, 280, 104, 777]
[300, 582, 786, 829, 860, 285, 420, 280, 104, 777]
[300, 582, 786, 829, 285, 860, 420, 280, 104, 777]
[300, 582, 786, 285, 829, 860, 420, 280, 104, 777]
[300, 582, 285, 786, 829, 860, 420, 280, 104, 777]
[300, 285, 582, 786, 829, 860, 420, 280, 104, 777]
[285, 300, 582, 786, 829, 860, 420, 280, 104, 777]
[285, 300, 582, 786, 829, 420, 860, 280, 104, 777]
[285, 300, 582, 786, 420, 829, 860, 280, 104, 777]
[285, 300, 582, 420, 786, 829, 860, 280, 104, 777]
[285, 300, 420, 582, 786, 829, 860, 280, 104, 777]
[285, 300, 420, 582, 786, 829, 280, 860, 104, 777]
[285, 300, 420, 582, 786, 280, 829, 860, 104, 777]
[285, 300, 420, 582, 280, 786, 829, 860, 104, 777]
[285, 300, 420, 280, 582, 786, 829, 860, 104, 777]
[285, 300, 280, 420, 582, 786, 829, 860, 104, 777]
[285, 280, 300, 420, 582, 786, 829, 860, 104, 777]
[280, 285, 300, 420, 582, 786, 829, 860, 104, 777]
[280, 285, 300, 420, 582, 786, 829, 104, 860, 777]
[280, 285, 300, 420, 582, 786, 104, 829, 860, 777]
[280, 285, 300, 420, 582, 104, 786, 829, 860, 777]
[280, 285, 300, 420, 104, 582, 786, 829, 860, 777]
[280, 285, 300, 104, 420, 582, 786, 829, 860, 777]
[280, 285, 104, 300, 420, 582, 786, 829, 860, 777]
[280, 104, 285, 300, 420, 582, 786, 829, 860, 777]
[104, 280, 285, 300, 420, 582, 786, 829, 860, 777]
[104, 280, 285, 300, 420, 582, 786, 829, 777, 860]
[104, 280, 285, 300, 420, 582, 786, 777, 829, 860]
[104, 280, 285, 300, 420, 582, 777, 786, 829, 860]
Nb décalages= 31
[104, 280, 285, 300, 420, 582, 777, 786, 829, 860]

3.a) Pour un tableau de 3 valeurs, on peut avoir 3 décalages : t=[3,2,1]       
-> on décale 2 avec 3 => 1 décalage et t=[2,3,1]         
-> on décale 1 avec 3 et 2 => 2 décalages et t = [1,2,3]
Au total, on a 2+1=3 décalages

3.b) Pour un tableau de 5 valeurs, on peut avoir 10 décalagess : t=[5,4,3,2,1]       
-> on décale 4 avec 5 => 1 décalage et t=[4,5,3,2,1]          
-> on décale 3 avec 5 et 4 => 2 décalages et t= [3,4,5,2,1]        
-> on décale 2 avec 5,4,3 => 3 décalages et t = [2,3,4,5,1]         
-> on décale 1 avec 5,4,3,2 => 4 décalages et t=[1,2,3,4,5]      
Au total, on a 4+3+2+1=10 décalages

3.c) Pour un tableau à n valeurs, on peut avoir jusqu'à n*(n-1)/2 décalages
-> La seconde valeur est décalée avec la première => 1 décalage,        
-> La troisième valeur est décalée avec les 2 premières => 2 décalages,          
-> ....            
-> L'antépénultième valeur est décalée avec les n-3 premières valeurs => n-3 décalagess,         
-> La pénultième valeur est décaléeée avec les n-2 premières valeurs => n-2 décalages,           
-> La dernière valeur est décalée avec les n-1 premières valeurs => n-1 décalages        

Au total on a : (n-1)+(n-2)+...+2+1=n(n-1)/2 décalages

Après développement, on a $O(n)=\dfrac{n^2}{2}-\dfrac{n}{2}$ opérations de décalages qui est de l'ordre de $n^2$.
La complexité de cet algorithme est dite **quadratique**

**Remarque**     
Si la taille d'un tableau double, le nombre d'opérations de décalages est multiplié par 4 !