# Exercice 1

1. Créer le tableau suivant : t=[2,3,5,7,11,13,17,19,23,29,31,37]
2. Afficher sur 3 lignes, avec une seule instruction **print**, la longueur de ce tableau, le premier élément et son dernier élément.

3. a) Créer un second tableau t1 de la même dimension que t dont toutes valeurs sont 0.     
3. b) En utilisant une boucle **for**, compléter le tableau t1 avec les valeurs du tableau t rangées dans l'ordre inverse.

4. Créer un tableau s dont les valeurs sont la somme des valeurs des tableaux t et t1 de même indice.
5. Créer une fonction **aleat** qui retourne un élément du tableau choisi au hasard. On affectera la valeur de la fonction à une variable que l'on affichera.

In [2]:
t=[2,3,5,7,11,13,17,19,23,29,31,37]

In [3]:
print("nombre de valeurs :",len(t),"\npremier élément :",t[0],"\ndernier élément :", t[len(t)-1])

nombre de valeurs : 12
premier élément : 2
dernier élément : 37

In [7]:
# On crée un tableau de zéros t1
t1=[0]*12

# On itère sur les tableaux t et t1 pour remplir le tableau t1 avec les valeurs de t (inversées).
# Remarque : on suppose que le tableau t existe !
for i in range(12):
    t1[i]=t[11-i]
    
# On affiche le tableau t1
print(t1)

[37, 31, 29, 23, 19, 17, 13, 11, 7, 5, 3, 2]

In [9]:
# On crée un tableau s complétés de zéros.
s=[0]*12

# On itère sur les tableaux et on affecte la somme des tableau t et t1 au tableau s.
for i in range(12):
    s[i]=t[i]+t1[i]

# On affiche s    
print("Le tableau somme est:",s)

Le tableau somme est: [39, 34, 34, 30, 30, 30, 30, 30, 30, 34, 34, 39]

In [12]:
# On importe la librairie random pour utiliser ses fonctions dont randint.
import random as r

# On crée la fonction aleat qui renvoie une valeur du tableau dont l'indice est choisi aléatoirement.
def aleat():
    indice=r.randint(0,len(t)-1)
    return t[indice]

# On déclare une variable "valeur_aleatoire" et on lui affecte la valeur renvoyée par la fonction aleat()
valeur_aleatoire=aleat()
print("Une valeur chosie dans le tableau est:",valeur_aleatoire)

Une valeur chosie dans le tableau est: 23

# Exercice 2

1. Créer une fonction **tabalea** qui retourne un tableau avec des entiers choisis aléatoirement compris entre 1 et 100 et dont la dimension sera passée en paramètre.     
*Par exemple :* **tabalea**(50) retourne un tableau avec 50 entiers alatoirement pris entre 1 et 100.
2. Créer une fonction **tabmax** qui prend en paramètre un tableau et qui retourne son plus grand élément avec son indice. On obtient un **tuple** de dimension 2.
3. Créer une fonction **tabin** qui prend en paramètres un nombre entier et un tableau et retourne **True** si le nombre est présent dans le tableau et **False** dans le cas contraire.
4. Créer une fonction **tabmode** qui prend en paramètre un tableau et retourne la valeur dominante, c'est à dire la valeur du tableau la plus représentée, et le nombre de fois que celle-ci est présente.
5. a) Créer une variable montab contenant un tableau aléatoire de 50 valeurs entières comprises entre 1 et 100.    
b) Afficher la plus grande valeur du tableau.    
c) Afficher la valeur dominante du tableau (la plus présente).

In [28]:
# On importe la librairie random pour utiliser ses fonctions dont randint.
import random as r

# On crée la fonction tabalea qui prend en paramètre la dimension (n) du tableau à créer.
def tabalea(n):
    # On crée un tableau vide
    t=[0]*n
    # On itère pour remplacer les zéros par des entiers choisi aléatoirement entre 1 et 100.
    for i in range(n):
        t[i]=r.randint(1,100)
    return t

# On déclare une variable "mon_tableau" et on lui affecte un tableau de 20 nombres entiers (aléatoires).
mon_tableau=tabalea(20)
print(mon_tableau)

[13, 30, 93, 1, 23, 77, 53, 7, 55, 66, 69, 87, 60, 4, 86, 52, 50, 23, 70, 72]

In [18]:
# On crée une fonction tabmax qui doit trouver la plus grande valeur d'un tableau non trié.
# Le tableau est passé en paramètre (t).
# La fonction renvoie un tuple composé du maximum du tableau et de son indice : (m,indice).
# Avant d'itérer sur les valeurs du tableau, on initialise m à 0 et indice à 0.
# On compare chaque valeur du tableau avec m (maximum). Si la valeur du tableau est plus grande, 
# alors m prend la valeur du tableau comme maximum.

def tabmax(t):
    if t!=[]:
        m,indice=t[0],0
        for i in range(len(t)):
            if m < t[i]:
                m=t[i]
                indice=i
        return (m,indice)
    else: return (0,0)
    
mon_max_indice_tableau=tabmax(mon_tableau)
print(mon_max_indice_tableau)

(100, 9)

In [24]:
# On crée une fonction qui vérife la présence d'une valeur dans le tableau passé en paramètre.
# Si la valeur cherchée est présente, on renvoie vrai, faux sinon.
# La fonction tab.count(valeur) renvoie le nombre de fois que valeur est présente dans le tableau tab

def tabin(n,t):
    if t.count(n)!=0:
        return True
    else: 
        return False

test1=tabin(54,mon_tableau) # 54 est dans le tableau
test2=tabin(56,mon_tableau) # 56 n'est pas dans le tableau
print(test1,test2)

True False

In [25]:
# On crée la fonction tabmode qui renvoie la valeur la plus présente dans le tableau et le nombre de fois qu'elle
# est présente qu'on appelle occurences.
# On déclare les variables mode (valeur la plus présente) et effectif (nombre d'occurences)
# On initialise mode et effectif chacune à 0.
# On itère sur le tableau et on utilise la fonction count() sur chaque valeur du tableau.
# La variable effectif prend le nombre d'occurences d'une valeur du tableau si elle est supérieure.

def tabmode(t):
    mode,effectif=0,0
    for i in range(len(t)):
        if t.count(t[i])>effectif:
            print(t[i],t.count(t[i]))
            mode,effectif=t[i],t.count(t[i])
    return mode,effectif

In [29]:
print(mon_tableau)
print("La valeur maximale du tableau est :",tabmax(mon_tableau)[0])
print("La valeur dominante de mon tableau est",tabmode(mon_tableau)[0],"présente",tabmode(mon_tableau)[1],"fois.")

[13, 30, 93, 1, 23, 77, 53, 7, 55, 66, 69, 87, 60, 4, 86, 52, 50, 23, 70, 72]
La valeur maximale du tableau est : 93
13 1
23 2
13 1
23 2
La valeur dominante de mon tableau est 23 présente 2 fois.

In [165]:
print(montab,end='')

[95, 46, 32, 69, 50, 93, 13, 13, 53, 95, 53, 70, 41, 47, 35, 67, 83, 61, 25, 67, 48, 75, 14, 35, 18, 90, 48, 74, 73, 64, 78, 97, 67, 31, 52, 28, 37, 76, 81, 30, 72, 86, 48, 92, 37, 87, 92, 80, 46, 29]

# Exercice 3

1. Créer deux tableaux **jours** et **mois** regroupant toutes les valeurs possibles.
2. Créer la fonction **affiche_janvier** affichant tout le mois de janvier commençant par un lundi 1 janvier.
3. Modifier la fonction **affiche_janvier** prenant en paramètre le premier jour du mois (lundi, mardi, mercredi,...) et affichant le mois en conséquence.
4. Créer la fonction **affiche_mois** prenant comme paramètre un mois et le premier jour du mois et affichant le mois. On prendra en compte le nombre de jours dans le mois.
5. Écrire une fonction **est_bissextile** prenant en paramètre l'année et retourne **True** si elle est bissextile ou **False** dans le cas contraire. On rappelle qu'une année est bissextile si elle est un multiple de 4 mais pas un multiple de 100, ou si elle est un multiple de 400.
6. Modifier la fonction **affiche_mois** en ajoutant comme paramètre l'année et affichant le mois de février avec 28 ou 29 jours.
7. Modifier la fonction **affiche_mois** pour qu'elle retourne un tableau des dates demandées.

In [30]:
jours=("lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche")
mois=("janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre")

In [31]:
# La fonction affiche le mois de janvier en commençant par le lundi 1 janvier.
# Une semaine compte 7 jours, donc on divise le compteur de boucle par 7 et on prend le reste qui devient alors 
# l'indice du tableau jours.
# Par exemple: 
# Quand i=25, alors 25:7=3 reste 4 car 3x7+4=25.
# Donc on affiche jours[4], soit le jeudi, lorsque i=25 ce qui donne jeudi 25 janvier.

def affiche_janvier():
    for i in range(31):
        print(jours[i%7],i+1,"janvier")

In [32]:
affiche_janvier()

lundi 1 janvier
mardi 2 janvier
mercredi 3 janvier
jeudi 4 janvier
vendredi 5 janvier
samedi 6 janvier
dimanche 7 janvier
lundi 8 janvier
mardi 9 janvier
mercredi 10 janvier
jeudi 11 janvier
vendredi 12 janvier
samedi 13 janvier
dimanche 14 janvier
lundi 15 janvier
mardi 16 janvier
mercredi 17 janvier
jeudi 18 janvier
vendredi 19 janvier
samedi 20 janvier
dimanche 21 janvier
lundi 22 janvier
mardi 23 janvier
mercredi 24 janvier
jeudi 25 janvier
vendredi 26 janvier
samedi 27 janvier
dimanche 28 janvier
lundi 29 janvier
mardi 30 janvier
mercredi 31 janvier

In [34]:
# La fonction est modifiée pour que le premier jour du mois ne soit pas forcément un lundi.
# Pour commencer un jeudi, on applelle la fonction "affiche_janvier("jeudi")"
# L'indice correspondant à jeudi est d=4.
# On va itérer (boucle) i de 4 à 35 ce qui fait bien 31 valeurs.
# Pour avoir la date correcte : jeudi 1 janvier on calcule i-d+1=4-4+1 et ainsi de suite
# vendredi 2 janvier (5-4+1=2), samedi 3 janvier (6-4+1=3, etc.

def affiche_janvier(j):
    # la fonction index renvoie l'indice du tableau correspondant au jour donné en paramètre (jeudi => 4)
    d=jours.index(j)
    #On itère sur 31 valeurs (janvier) en commençan à l'index et finissant à l'index + 31
    for i in range(d,31+d):
        print(jours[i%7],i-d+1,"janvier")

In [35]:
affiche_janvier("jeudi")

jeudi 1 janvier
vendredi 2 janvier
samedi 3 janvier
dimanche 4 janvier
lundi 5 janvier
mardi 6 janvier
mercredi 7 janvier
jeudi 8 janvier
vendredi 9 janvier
samedi 10 janvier
dimanche 11 janvier
lundi 12 janvier
mardi 13 janvier
mercredi 14 janvier
jeudi 15 janvier
vendredi 16 janvier
samedi 17 janvier
dimanche 18 janvier
lundi 19 janvier
mardi 20 janvier
mercredi 21 janvier
jeudi 22 janvier
vendredi 23 janvier
samedi 24 janvier
dimanche 25 janvier
lundi 26 janvier
mardi 27 janvier
mercredi 28 janvier
jeudi 29 janvier
vendredi 30 janvier
samedi 31 janvier

In [36]:
# On généralise à tous les mois de l'année. Cela implique de tester s'ils ont 28, 30 ou 31 jours.

def affiche_mois(m,j):
    d=jours.index(j)
    p=mois.index(m)
    if p==0 or p==2 or p==4 or p==6 or p==7 or p==9 or p==11:
        for i in range(d,31+d):
            print(jours[i%7],i-d+1,m)
    elif p==3 or p==5 or p==8 or p==10:
        for i in range(d,30+d):
            print(jours[i%7],i-d+1,m)
    else:
        for i in range(d,28+d):
            print(jours[i%7],i-d+1,m)

In [39]:
affiche_mois("février","jeudi")

jeudi 1 février
vendredi 2 février
samedi 3 février
dimanche 4 février
lundi 5 février
mardi 6 février
mercredi 7 février
jeudi 8 février
vendredi 9 février
samedi 10 février
dimanche 11 février
lundi 12 février
mardi 13 février
mercredi 14 février
jeudi 15 février
vendredi 16 février
samedi 17 février
dimanche 18 février
lundi 19 février
mardi 20 février
mercredi 21 février
jeudi 22 février
vendredi 23 février
samedi 24 février
dimanche 25 février
lundi 26 février
mardi 27 février
mercredi 28 février

In [40]:
# Le mois de février a 28 ou 29 jours selon que les années sont bissextiles ou non.
# La fonction teste cela : vrai ou faux.

def est_bissextille(annee):
    if ((annee%4==0) and (annee%100!=0)) or (annee%400==0):
        return True
    else:
        return False

In [189]:
# Si l'année est bissextile, février a 29 jours sinon 28.

def affiche_mois(a,m,j):
    d=jours.index(j)
    p=mois.index(m)+1
    if p==1 or p==3 or p==5 or p==7 or p==8 or p==10 or p==12:
        for i in range(d,31+d):
            print(jours[i%7],i-d+1,m)
    elif p==4 or p==6 or p==9 or p==11:
        for i in range(d,30+d):
            print(jours[i%7],i-d+1,m)
    else:
        if est_bissextille(a):
            for i in range(d,29+d):
                print(jours[i%7],i-d+1,m)
        else:
            for i in range(d,28+d):
                print(jours[i%7],i-d+1,m)

In [192]:
affiche_mois(2021,"février","mardi")

mardi 1 février
mercredi 2 février
jeudi 3 février
vendredi 4 février
samedi 5 février
dimanche 6 février
lundi 7 février
mardi 8 février
mercredi 9 février
jeudi 10 février
vendredi 11 février
samedi 12 février
dimanche 13 février
lundi 14 février
mardi 15 février
mercredi 16 février
jeudi 17 février
vendredi 18 février
samedi 19 février
dimanche 20 février
lundi 21 février
mardi 22 février
mercredi 23 février
jeudi 24 février
vendredi 25 février
samedi 26 février
dimanche 27 février
lundi 28 février

# Exercice 4

1. Créer un tableau de 8 valeurs, chaque valeur étant un fruit commençant par une lettre différente !    
Trier le tableau avec la fonction sort.
2. Créer une fonction **échange** prenant en paramètre un tableau et deux indices i et j et qui renvoie le tableau avec les valeurs d'indices i et j permutées.
3. Créer une fonction **mélange** qui prend en paramètre un tableau et mélange aléatoirement les valeurs de ce tableau. On pourra utiliser la fonction échange à plusieurs reprises avec des indices choisis aléatoirement.

In [28]:
fruits=['pomme','abricot','banane','nectarine','cerise','fraise','mure','groseille']

In [35]:
fruits.sort()
fruits

['abricot',
 'banane',
 'cerise',
 'fraise',
 'groseille',
 'mure',
 'nectarine',
 'pomme']

In [23]:
def échange(t,i,j):
    t[i],t[j]=t[j],t[i]
    return t

In [24]:
échange(fruits,1,3)

['abricot',
 'fraise',
 'cerise',
 'banane',
 'groseille',
 'mure',
 'nectarine',
 'pomme']

In [38]:
import random as r

def mélange(t):
    for _ in range(10):
        i=r.randint(0,7)
        j=r.randint(0,7)
        if i!=j:
            échange(t,i,j)
        print(i,j,t)
    return t

fruits.sort()
mélange(fruits)

3 4 ['abricot', 'banane', 'cerise', 'groseille', 'fraise', 'mure', 'nectarine', 'pomme']
0 7 ['pomme', 'banane', 'cerise', 'groseille', 'fraise', 'mure', 'nectarine', 'abricot']
5 2 ['pomme', 'banane', 'mure', 'groseille', 'fraise', 'cerise', 'nectarine', 'abricot']
2 4 ['pomme', 'banane', 'fraise', 'groseille', 'mure', 'cerise', 'nectarine', 'abricot']
1 2 ['pomme', 'fraise', 'banane', 'groseille', 'mure', 'cerise', 'nectarine', 'abricot']
7 3 ['pomme', 'fraise', 'banane', 'abricot', 'mure', 'cerise', 'nectarine', 'groseille']
3 6 ['pomme', 'fraise', 'banane', 'nectarine', 'mure', 'cerise', 'abricot', 'groseille']
4 0 ['mure', 'fraise', 'banane', 'nectarine', 'pomme', 'cerise', 'abricot', 'groseille']
1 7 ['mure', 'groseille', 'banane', 'nectarine', 'pomme', 'cerise', 'abricot', 'fraise']
2 6 ['mure', 'groseille', 'abricot', 'nectarine', 'pomme', 'cerise', 'banane', 'fraise']

['mure',
 'groseille',
 'abricot',
 'nectarine',
 'pomme',
 'cerise',
 'banane',
 'fraise']

# Exercice 5

In [41]:
a=[i for i in range(13)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [42]:
b=[i*2 for i in range(8)]
print(b)

[0, 2, 4, 6, 8, 10, 12, 14]

In [43]:
c=[i for i in range(1,15,2)]
print(c)

[1, 3, 5, 7, 9, 11, 13]

In [44]:
d=[i**2 for i in range(1,10)]
print(d)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
e=[2**i for i in range(8)]
print(e)

[1, 2, 4, 8, 16, 32, 64, 128]

In [46]:
f=[chr(i) for i in range(65,91)]
print(f)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [47]:
h=[[0]*4 for i in range(4)]
print(h)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

# Exercice 6

1. Créer un tableau t de dimension aléatoire n dont les valeurs sont des nombres entiers consécutifs inférieurs à 20. Par exemple, si n=4, alors t=[0,1,2,3,4]
2. Créer une fonction **prolonge** qui ajoute au tableau t de nombres entiers rangés par ordre croissant, le nombres entiers consécutifs jusqu'à 20.
3. Créer une fonction **miroir** qui ajoute au tableau t de nombres entiers rangés par ordre croissant, les nombres entiers décroissants jusqu'à 0 sans aucune répétition.

In [57]:
import random as r

n=r.randint(1,20)
t=[i for i in range(n)]
t

[0, 1, 2, 3, 4]

In [58]:
def prolonge(t):
    d=t[-1]+1
    f=[i for i in range(d,21)]
    t=t+f
    return t

In [59]:
prolonge(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [60]:
def miroir(t):
    d=t[-1]
    f=[i-1 for i in range(d,0,-1)]
    t=t+f
    return t

In [61]:
miroir(t)

[0, 1, 2, 3, 4, 3, 2, 1, 0]

# Exercice 7

1. Créer une fonction **nouvelleGrille** qui crée un tableau de tableaux de dimension $10 \times 10$, c'est à dire de $10$ lignes et $10$ colonnes initialisée avec des zéros.     
Créer la variable **maGrille** qui est une grille $10 \times 10$ de zéros.
2. Créer une fonction **alimente** qui remplit la grille avec des nombres entiers aléatoirement choisis entre 0 et 200. Alimenter la variable **maGrille**.
3. Créer une fonction **tabmax** qui renvoie la plus grande valeur d'un tableau (voir exercice 2).
4. Créer une fonction **transpose** qui prend en paramètre une grille et renvoie une grille dont les lignes sont les colonnes de la grille saisie en paramètre.
5. Créer une fonction **maxiligne** qui renvoie un tableau contenant la valeur maximale de chaque ligne de la grille. Penser à utiliser la fonction tabmax.
6. Créer une fonction **maxicolonne** qui renvoie un tableau contenant la valeur maximale de chaque colonne de la grille. Penser à utiliser la fonction tabmax et la fonction transpose.

In [104]:
import random as r

def nouvelleGrille(m,n):
    return [[0]*m for i in range(n)]

In [124]:
maGrille=nouvelleGrille(8,10)
print(maGrille)
print(len(maGrille))

[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]
10

In [125]:
def alimente(g):
    for i in range(len(g)):
        for j in range(len(g[0])):
            g[i][j]=r.randint(0,200)
    return g

In [126]:
alimente(maGrille)

[[132, 163, 86, 132, 75, 8, 4, 110],
 [51, 143, 18, 157, 99, 152, 27, 161],
 [0, 150, 133, 87, 175, 145, 57, 45],
 [34, 156, 200, 96, 147, 154, 61, 126],
 [53, 156, 167, 107, 183, 49, 140, 3],
 [184, 42, 121, 29, 96, 37, 62, 154],
 [117, 61, 188, 170, 142, 93, 112, 80],
 [170, 46, 2, 38, 194, 96, 182, 102],
 [22, 92, 16, 157, 144, 73, 48, 199],
 [100, 171, 180, 192, 108, 94, 147, 156]]

In [131]:
def tabmax(t):
    if t!=[]:
        m=t[0]
        for i in range(len(t)):
            if m < t[i]:
                m=t[i]
        return m
    else: return 0

# On cherche la valeur maximale de chaque tableau de maGrille.
maxi=[0]*len(maGrille)
for i in range(len(maGrille)):
    maxi[i]=tabmax(maGrille[i])
print(maxi)

[163, 161, 175, 200, 183, 184, 188, 194, 199, 192]

In [132]:
def transpose(g):
    s=nouvelleGrille(len(g),len(g[0]))
    for i in range(len(g[0])):
        for j in range(len(g)):
            s[i][j]=g[j][i]
    return s

transpose(maGrille)

[[132, 51, 0, 34, 53, 184, 117, 170, 22, 100],
 [163, 143, 150, 156, 156, 42, 61, 46, 92, 171],
 [86, 18, 133, 200, 167, 121, 188, 2, 16, 180],
 [132, 157, 87, 96, 107, 29, 170, 38, 157, 192],
 [75, 99, 175, 147, 183, 96, 142, 194, 144, 108],
 [8, 152, 145, 154, 49, 37, 93, 96, 73, 94],
 [4, 27, 57, 61, 140, 62, 112, 182, 48, 147],
 [110, 161, 45, 126, 3, 154, 80, 102, 199, 156]]

In [133]:
def maxiligne(g):
    t=[]
    for i in range(len(g)):
        t.append(tabmax(g[i]))
    return t

def maxicolonne(g):
    tg=transpose(g)
    t=maxiligne(tg)
    return t

m=maxiligne(maGrille)
c=maxicolonne(maGrille)
print(m,c)

[163, 161, 175, 200, 183, 184, 188, 194, 199, 192] [184, 171, 200, 192, 194, 154, 182, 199]